!!! 5
html.no-js(lang='en')
	head
		title Off-roadmap Projects

		meta(name='viewport', content='width=1024, user-scalable=no')

		link(rel='stylesheet', href='../core/deck.core.css')
		link(rel='stylesheet', href='../extensions/goto/deck.goto.css')
		link(rel='stylesheet', href='../extensions/menu/deck.menu.css')
		link(rel='stylesheet', href='../extensions/navigation/deck.navigation.css')
		link(rel='stylesheet', href='../extensions/status/deck.status.css')
		link(rel='stylesheet', href='../extensions/hash/deck.hash.css')

		link(rel='stylesheet', id='style-theme-link', href='../themes/style/swiss.css')
		link(rel='stylesheet', id='transition-theme-link', href='../themes/transition/horizontal-slide.css')
		
		link(rel='stylesheet', href='deck.css')

		script(src='../modernizr.custom.js')

	body.deck-container
		section.slide#title-slide
			h2 Going off-roadmap
			img(src='http://amazingdata.com/mediadata31/Image/hot_weird_funny_amazing_cool4_a-dumb-crash-silveraod-road-ends-3_200907302106307944.jpg')

		section.slide#how-to-overview
			h2 Disruptive Thinking...
			ul.center-list
				li.emph Less!
				li.emph Small!
				li.emph Focused!

		section.slide#eastrat
			h2 EA Strategy
			h4 technology strategy and innovation
			ul.center-list
				li.emph TEN Originals
				li.emph iReport Census
				li.emph Morse QR + NFC (ptnt pend)
				li.emph Augmented Reality & Sponser Activation
			
		section.slide#EAAppFoundry
			h2 EA App Foundry
			h4 #startuplife
			ul.center-list
				li.emph Spothouse.
				li.emph Trial Tracker.
				li.emph Quick Receipt.
				li.emph.strike Redacted.

		section.slide#Off-Roadmap
			h2 EA's Off-Roapmap Initiative
			h4 uncovering new business
			ul.center-list
				li.emph Global Games
				li.emph BOC Shift Metrics
				li.emph Quick Receipt (again)
				li.emph S&P Roadmap

		section.slide#fiverules
			h2 "Process"
			ul.center-list
				li.emph Conceptualize.
				li.emph Prototype.
				li.emph Construct.
				li.emph Review.
				li.emph Deliver.
		
		section.slide#tech
			h2 App Foundry Tech
			ul.center-list
				li.emph Ruby, Rails, HAML, SASS
				li.emph node.js, jade, CoffeeScript
				li.emph CouchDB, MongoDB
				li.emph Heroku, Joyent, Cloud Foundry
		
		section.slide#stattech
			h2 EA Strategy Tech
			ul.center-list
				li.emph .Net, Java, MVC3, Knockout.js
				li.emph Twillio, MongoDB
				li.emph AppHarbor, MongoLabs
				li.emph iOS, Android

		section.slide#questions
			div.focused-text Questions?

		a(href='#', class="deck-prev-link", title="Previous")&#8592;
		a(href='#', class="deck-next-link", title="Next")&#8594;

		
		script(src='../jquery-1.7.min.js')

		script(src='../core/deck.core.js')
		script(src='../extensions/hash/deck.hash.js')
		script(src='../extensions/menu/deck.menu.js')
		script(src='../extensions/goto/deck.goto.js')
		script(src='../extensions/status/deck.status.js')
		script(src='../extensions/navigation/deck.navigation.js')

		script(src='introduction.js')
