!!! 5
html.no-js(lang='en')
	head
		title Off-roadmap Projects

		meta(name='viewport', content='width=1024, user-scalable=no')

		link(rel='stylesheet', href='../core/deck.core.css')
		link(rel='stylesheet', href='../extensions/goto/deck.goto.css')
		link(rel='stylesheet', href='../extensions/menu/deck.menu.css')
		link(rel='stylesheet', href='../extensions/navigation/deck.navigation.css')
		link(rel='stylesheet', href='../extensions/status/deck.status.css')
		link(rel='stylesheet', href='../extensions/hash/deck.hash.css')

		link(rel='stylesheet', id='style-theme-link', href='../themes/style/swiss.css')
		link(rel='stylesheet', id='transition-theme-link', href='../themes/transition/horizontal-slide.css')
		
		link(rel='stylesheet', href='deck.css')

		script(src='../modernizr.custom.js')

	body.deck-container
		section.slide#title-slide
			h1 Off-Roadmap Overview

		section.slide#how-to-overview
			h2 Rethink...
			div.focused-text let's step back and rethink this development thing

		section.slide#fiverules
			h2 "Process"
			ul.center-list
				li.emph Conceptualize.
				li.emph Prototype.
				li.emph Construct.
				li.emph Review.
				li.emph Deliver.

		section.slide#eastrat
			h2 EA Strategy
			h4 technology strategy and innovation
			ul.center-list
				li.emph QR codes
				li.emph augmented reality
			
		section.slide#EAAppFoundry
			h2 EA App Foundry
			h4 #startuplife
			ul.center-list
				li.emph Spothouse.
				li.emph Trial Tracker.
				li.emph Quick Receipt.
				li.emph.strike Redacted.

		section.slide#Off-Roadmap
			h2 EA's Off-Roapmap Initiative
			h4 finding new clients
			ul.center-list
				li.emph Global Games
				li.emph BOC Shift Reports
				li.emph Quick Receipt (again)


		script(src='../jquery-1.7.min.js')

		script(src='../core/deck.core.js')
		script(src='../extensions/hash/deck.hash.js')
		script(src='../extensions/menu/deck.menu.js')
		script(src='../extensions/goto/deck.goto.js')
		script(src='../extensions/status/deck.status.js')
		script(src='../extensions/navigation/deck.navigation.js')

		script(src='introduction.js')
