.deck-container .focused-text {
	margin-top: 140px;
	font-size: 45px;
}

.deck-container .emph {
	font-size: 50px;
}

.deck-container .center-list {
	list-style-type: none;
	margin-top: 80px;
	text-align: center;
}

.deck-container .strike {
	text-decoration: line-through;
}

